<tr>
  <td>
    <%= link_to cart_item[:product].name, product_path(cart_item[:product]) %>
  </td>
  <td>$<%= number_with_precision(cart_item[:product].unit_price, precision: 2) %></td>
  <td>
    <%= form_tag update_cart_path(cart_item[:product].id), method: :patch, class: 'd-flex align-items-center gap-2' do %>
      <%= number_field_tag :quantity, cart_item[:quantity], min: 0, class: 'form-control', style: 'width: 80px;' %>
      <%= submit_tag 'Update', class: 'btn btn-sm btn-outline-primary' %>
    <% end %>
  </td>
  <td>$<%= number_with_precision(cart_item[:item_total], precision: 2) %></td>
  <td>
    <%= link_to remove_from_cart_path(cart_item[:product].id), class: 'btn btn-sm btn-danger' do %>
      <i class="bi bi-trash"></i> Remove
    <% end %>
  </td>
</tr>