<h1 class="mb-4"><i class="bi bi-credit-card"></i> Checkout</h1>

<div class="row">
  <!-- Order Summary -->
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Order Summary</h5>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Qty</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |item| %>
              <tr>
                <td><%= item[:product].name %></td>
                <td><%= item[:quantity] %></td>
                <td>$<%= number_with_precision(item[:item_total], precision: 2) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr class="table-light">
              <td colspan="2"><strong>Subtotal:</strong></td>
              <td><strong>$<%= number_with_precision(@cart_total, precision: 2) %></strong></td>
            </tr>
            <tr>
              <td colspan="3" class="text-muted small">Taxes calculated based on province</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <!-- Address Form -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Shipping Address</h5>
      </div>
      <div class="card-body">
        <%= form_tag process_order_path, method: :post do %>
          <div class="mb-3">
            <%= label_tag :street, 'Street Address', class: 'form-label' %>
            <%= text_field_tag :street, @address&.street, class: 'form-control', required: true %>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <%= label_tag :city, 'City', class: 'form-label' %>
              <%= text_field_tag :city, @address&.city, class: 'form-control', required: true %>
            </div>
            <div class="col-md-6">
              <%= label_tag :postal_code, 'Postal Code', class: 'form-label' %>
              <%= text_field_tag :postal_code, @address&.postal_code, class: 'form-control', required: true %>
            </div>
          </div>

          <div class="mb-3">
            <%= label_tag :province_id, 'Province', class: 'form-label' %>
            <%= select_tag :province_id, options_from_collection_for_select(@provinces, :id, :name, @address&.province_id), class: 'form-select', required: true %>
          </div>

          <div class="d-grid gap-2">
            <%= submit_tag 'Place Order', class: 'btn btn-success btn-lg' %>
            <%= link_to 'Back to Cart', cart_path, class: 'btn btn-outline-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>